/* CSS CHUNG */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  }
  a {
    text-decoration: none;
  }
  P {
    margin: 0;
  }
  ul {
    margin-bottom: 0;
  }
  
  li {
    list-style-type: none;
  }

  /* CSS MAIN USER LEFT */
  .main-center {
    padding: 50px 0;
    display: flex;
  }
  .user-avatar-container {
    width: 200px;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
    border: 0.5px #eee solid;
  }

  .user-avatar-container img {
    max-width: 100%;
    height: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-flex;
    vertical-align: middle;
    object-fit: cover;

  }
  .btn-change-avatar {
    display: flex;
    width: 200px;
    text-align: center;
    border: 1px solid #ccc;
    outline: 0;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0 30px 0;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
  }
  .main-user-left {
    width: 250px;
    min-height: 500px;
    padding: 60px 20px 20px 0;
    border-right: 0.1px solid #a4a4a4;;
  }
  .account-menu-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 5px;
    margin-bottom: 150px;
  }

  .account-menu-left .current {
    color: #1474FC;
    font-weight: 700;
}

  .account-menu-left > a {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    color: #333;
    
  }

  .account-menu-left > a:hover{
    color: #1474FC;
  }

  /* CSS MAIN USER RIGHT */

.main-user-right {
    width: 100%;
    min-height: 700px;
    float: left;
}

.main-user-right .dm-tab {
    width: 100%;
    margin-top: 0px;
    border-bottom: 1px solid #eee;
    height: 45px;
}
.dm-tab .active {
    border-bottom: 3px solid #1474FC;
    color: #1474FC;
    height: 45px;
    margin-left: 50px;
    font-weight: 600;
}
.tab-item {
    float: left;
    margin-left: 50px;
    margin-right: 30px;
    padding-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.bought-courses {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
    
}
.bought-courses-container {
    width: 100%;
}
.notification-empty-container {
    width: 100%;
    padding: 250px 0;
    margin-left: 50px;
    margin-bottom: 30px;
    text-align: center;
    color: #999;
    border: 1px #ddd dashed;
}
  