
/* CSS WATCHWORD*/

.watchword-content {
  padding: 50px 0;
}

.watchword-content > h1 {
  font-size: 84px;
  max-width: 700px;
  font-weight: 900;
}

.watchword-content > p {
  font-size: 25px;
  max-width: 700px;
  font-weight: 400;
}

#btn-watchword-res {
  border: 5px solid #1474fc;;
  outline: none;
  background-color: #1474fc;
  color: white;
  font-weight: 700;
  font-size: 22px;
}

#btn-watchword-test {
  border:5px solid #1474fc;
  outline: none;
  background-color: white;
  color: #1474fc;
  font-weight: 700;
  font-size: 22px;
}

.watchword-img{
  display: flex;
  align-items: center;
}

#watchword-img-cr {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-image: url(/images/watchword-img.png);
  background-size: cover;
  background-position: center;
}

/* CSS COURSE SELF LEARNING */

.course-self-learning {
  background-color: #F5F5F5;
 
  padding: 50px 0;
}

#csl{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#course-sl-img {
  flex: 0.35;
  width: 350px;
  height: 350px;
  background-image: url(/images/watchword-img.png);
  background-size: cover;
  background-position: center;
  
}
#course-sl-content {
  margin-left: 50px;
  flex: 0.65;
  
}

.course-japan-title
{
  font-size: 50px;
}
.course-japan-sub {
  font-size: 25px;
  font-weight: 600;
}
#course-japan-title01{
  color:#0D6EFD ;
}

/* CSS lại nút button của bootrap */
.btn-csl {
  padding: 10px 32px;
  font-weight: 700;
}

.btn-csl-jlpt {
  padding: 8px;
}

/* CSS COURSE TEACHER LEARNING */
.course-teacher-learning {
  padding: 50px 0;
}

#ctl{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#course-tl-content > * {
  margin-bottom: 20px;
}

#course-tl-img {
  flex: 0.35;
  width: 350px;
  height: 350px;
  background-image: url(/images/watchword-img.png);
  background-size: cover;
  background-position: center;
  
}
#course-tl-content {
  flex: 0.65;
}
#course-japan-title02{
  color:#FFCA2C ;
}

#btn-group-ctl {
  margin-top: 50px;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

#btn-group-ctl > button {
  padding: 10px 32px;
  font-weight: 700;
}


/* CSS COURSE OFFLINE LEARNING */
.course-offline-learning {
  background-color: #F5F5F5;
  padding: 50px 0;
}
#cofl{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#course-cofl-content > * {
  margin-bottom: 20px;
}

#course-cofl-img {
  flex: 0.35;
  width: 350px;
  height: 350px;
  background-image: url(/images/watchword-img.png);
  background-size: cover;
  background-position: center;
  
}
#course-cofl-content {
  margin-left: 50px;
  flex: 0.65;
}
#course-japan-title03 {
  color: #157347;
}
#btn-group-cofl {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#btn-group-cofl > button {
  padding: 10px 32px;
  font-weight: 700;
}


/* CSS COURSE LIBARY LEARNING */

.course-libary {
  padding: 50px 0;
}

#cb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#course-cb-content > * {
  margin-bottom: 20px;
}

#course-cb-img {
  flex: 0.35;
  width: 350px;
  height: 350px;
  background-image: url(/images/watchword-img.png);
  background-size: cover;
  background-position: center;
  
}

#course-cb-content {
  flex: 0.65;
}

#course-japan-title04{
  color:#0DCAF0 ;
}

#btn-group-cb {
  margin-top: 50px;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

#btn-group-cb > button {
  padding: 10px 32px;
  font-weight: 700;
}

/* CSS LIST TEACHERS CARDS  */
.teachers-cards{
  padding: 50px 0;
  background-color:  #F5F5F5;
  
}

.teachers-cards-back {
  display: flex;
  align-items: center;
  justify-content: center;
  
} 
.slide-container {
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  text-align: center;
  color: #9159FF;
}

.slide-content > h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.card-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.cards-lists {
  width: 310px;
  border-radius: 25px;
  background-color: #FFF;
  border: 4px solid #9159FF;
}
.images-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  

}

.images-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
  
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #E5D9FF;
  border-radius: 25px 25px 0 25px;

}

.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0;
  bottom: -40px;
  background-color: #E5D9FF;
  

}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #9159FF;
}
.card-teacher-name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.card-description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.card-button {
  border: 1px solid #9159FF;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #E5D9FF;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #333;

}

.card-button:hover {
  background-color: #9159FF;
  color: white;
}



























